snippet log
console.log($1);
endsnippet

snippet fun
function(){
	$1
}
endsnippet

snippet amd
define('$1', ['jquery'], function($){
	
});
endsnippet

snippet re
return $1;
endsnippet

snippet use
"use strict";

endsnippet

snippet req
var $1 = require('$1');
endsnippet

snippet dtd
var dtd = $.Deferred();

	dtd.resolve($1);

return dtd.promise();
endsnippet

snippet exp
module.exports
endsnippet
